body{
    font-family: "CiscoSans","Arial",sans-serif;
}
.custom-navbar{box-shadow: 4px 3px 3px #eee; 
    z-index:;
    background-color: #fff;
}
.nav-link{
    color: #2E2E2E!important;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(247,32,78);
}

.custom-toggler .navbar-toggler-icon{
    width: 18px!important;
    color: #4285F4
}
.custom-toggler:hover{
    border-color: rgb(255,255,255);
    background-color: #4285F4;
}
@media only screen and (max-width: 760px) { 
    #logo_custom{width: 40%;}

    .custom-toggler{
    border-color: rgb(255,255,255);
    background-color: #4285F4;
    }
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;   
}
.dropdown-menu li:hover{
    background-color: #4285F4;
   width: 200px;
   color: yellow;
   font-weight: 300;
   font-size: 30px;
}

.dropdown-menu a:hover{
    color: #fff;
}

.navbar .dropdown-menu a {
    padding: 8px;
    font-size: 1rem;
    font-weight: 300;
    color: #2E2E2E;
}

.navbar .dropdown-menu a:not(.active) {
    color: #111;
}

.navbar .dropdown-menu a:not(.active):hover {
    color: #ffffff;
    font-weight: 600;
}

.btn-tw {
    color: #fff;
    background-color: #55acee !important;
}
.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
}
.btn-li {
    color: #fff;
    background-color: #0082ca !important;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;

}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}
.btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 43.1px;
}
/*..........END of the header.........*/

/*...........Start of the body........*/

.lake_side_rage1{
    width: 50%;
    position: relative;
    /*background: #005073;*/
    box-shadow: none;
    padding-left: 3rem;
    padding-right: 2rem;
    color: #fff;
}

.lake_side_rage2{
     width: 50%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divid-class{
    /*max-width: 100%;*/
    background: #005073;
}
.lake_side_rage1 p{
    font-family: "Arial",sans-serif;
    line-height: 1.4;
    font-size: 1.2em;
    /*padding-top: 20px;*/
}

.btn--orange{
    color: #ffffff;
    background-color: #fbab18;
    border-radius: 35px;
    font-size: 15px;
}
.btn--orange:hover{
    color: #ffffff;
    background-color: #4B515D;
    border-radius: 35px;
    font-size: 15px;
}

.lession{
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

}
.lession h2{
    font-family: "Arial",sans-serif;
    line-height: 1.4;
    font-size: 1.2em;
}

.lession img{
    width: 6rem;
}

.lession h1{
    font-size: 18px;
    font-weight: 600;
    color: #3F729B;
}

.setle i{
    color: #2BBBAD;
    font-size: 30px;

}


/*.........Banner...........*/
.banner{
    padding: 1rem;
    background: #005073;
}
.btn--white{
    color: #ffffff;
    /*background-color: #fbab18;*/
    border-radius: 35px;
    font-size: 15px;
   border: 2px solid #fff;
}
.btn--white:hover{
    color: #4B515D;
    background-color: #ffffff;
    border-radius: 35px;
    font-size: 15px;
}
.banner p{
    font-family: "Arial",sans-serif;
    line-height: 1.4;
    font-size: 1.2em;
    color: #fff;
}

@media only screen and (max-width: 760px) { 



}
/*.......intake.....*/

.intake{
    color: #58585b;
    position: relative;
    background: #f2f2f2;
    box-shadow: none;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding: 2rem;
}
.intake h1{
    text-align: center;
    font-size: 40px;
}

.intake img{
    width: 4.4rem;
}

.intake h4{
    color: #58585b;
    font-size: 1rem;
}
.links a{
    font-size: 1.2rem;
    color: #0082ca !important;
    font-weight: 400;
}

.field-item a{
    color: #ffffff;

}
.btn--orange1{
    color: #ffffff;
    background-color: #fbab18;
    border-radius: 30px;
    font-size: 15px;
}
.btn--orange1:hover{
    color: #ffffff;
    background-color: #4B515D;
    border-radius: 30px;
    font-size: 15px;
}
/*.....Connect....*/

.connect{
    padding: 1.5rem;
}

.connect h1{
    text-align: center;
    font-size: 30px;
}

.body_card{
    /*background: #111;*/
  /*background-color: #111;*/
    color: #fff;
   background: #005073;
}

.body_card img{
    width: 100%
}
.body_card p{

color: #ffffff;
}
 
 .body_card a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: underline;
 }

 .body_card img{
    height: 250px;
 }

 .body_card i{
    float: right;
    font-size: 40px;
    font-size: 500;
 }

.logo img{
    width: 10em;
}

/*......End connect......*/

/*.......start logo......*/
.logo {

    padding: 3em;
    background: #f2f2f2;
    text-align: center;
}
.logo h1{
    text-align: center;
    font-size: 30px;

}

/*.logo img{
    width: 20em;
}*/
.emper{
    background: #c8c8c8;
    padding: 1.4em;
}
.emper h1{
    font-size: 30px;
    font-weight: 600;
}


.about{
padding-top: 2px;
  padding-bottom: 2px;
    background-image: url("../img/slider1.jpg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 350px;
}

.about h1{
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 50px;

}
.about-color{
  padding-top: 2px;
  padding-bottom: 2px;
  height: 350px;
  background:rgba(0, 0, 0, 0.5);

}

.words {
    padding:3em;
    background: #f2f2f2;
}

.words p{
    text-align: center;
}


.hire {
    background: #c8c8c8;
    padding: 2em;
}

.body_cardx {
    background: #ff4444;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.body_cardxx {
    background: #ffbb33;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.body_cardxxx {
    background: #00C851;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.body_card1 h1{
    font-size: 50px;
    font-weight: 100;
    color: #fff;
    padding-top: 29px;
    margin: 0;
    font-style: italic;
}

.body_card1 span{
    font-size: 30px;
    font-weight: 100;
    color: #fff;
    margin: -10px 0 0 0;
    padding: 0;
    font-style: italic;
}

.div_page {
    width: 100%;

}

.hirecoder{
    width: 49%;
    padding: 3em;
}
.code{
    width: 49%
}

.code img{
    width: 650px;
    height: 350px;
}


@media only screen and (max-width: 760px) {
    .lake_side_rage2{width: 100%;}
    .lake_side_rage1{width: 100%; height: 630px;}
    .divid-class {
        /*padding: 1em;*/
    }

    .lake_side_rage1 h1{
        font-family: "Arial",sans-serif;
        /*line-height: 1.4;*/
        font-size: 1.6em;
    }
    .lake_side_rage1 p{
        font-family: inherit;
        line-height: 1.5;
        font-size: 1.2em;
        margin: 0;
    }

    .btn--orange{
        color: #ffffff;
        background-color: #fbab18;
        border-radius: 25px;
        font-size: 13px;
    }
    .btn--orange:hover{
        color: #ffffff;
        background-color: #4B515D;
        border-radius: 25px;
        font-size: 13px;
    }

    .lession h2{
        font-family: "Arial",sans-serif;
        line-height: 1.4;
        font-size: 1.2em;
    }

    .setle img{
        width: 5em;
        flex-wrap: wrap;

    }

    .lession h1{
        font-size: 15px;
        font-weight: 600;
        color: #3F729B;
    }

    .setle i{
        color: #2BBBAD;
        font-size: 17px;
    }

    /*........end of intake........*/
    .intake h1{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }
    .intake h3{
        font-size: 23px;
        font-weight: 600;
    }

    .links img{
        text-align: center;
        font-size: 3em;
    }

    .links a {
        font-size: 20px;
    }
    .links h4{
        font-size: 18px;
    }

    .intake{
        padding: 1rem;
    }
    .btn--orange1{
        color: #ffffff;
        background-color: #fbab18;
        border-radius: 25px;
        font-size: 12px;
    }
    .btn--orange1:hover{
        color: #ffffff;
        background-color: #4B515D;
        border-radius: 25px;
        font-size: 12px;
    }

    .body_card img{
        height: 240px;
    }

    .connect{
        padding: 1em;
    }
    .connect h1{
        text-align: center;
        font-size: 25px;
        font-weight: 500;
    }

    .logo {
        padding: 1.5em;
        background: #f2f2f2;
        text-align: center;
    }
    .logo h1{
        text-align: center;
        font-size: 20px;
        font-weight: 600;

    }
    .logo img{
        width: 60px;
    }

    .emper{
        background: #c8c8c8;
        padding: 1.1em;
    }
    .emper h1{
        font-size: 25px;
        font-weight: 600;
    }
    .emper p{
        font-size: 16px;
    }
    .emper i{
        font-size: 20px;
    }

    .about h1{
        font-size: 30px;
    }

    .words {
        padding:2em;
        background: #f2f2f2;
    }

    .words {
        padding: .9em;  
    }

    .body_card1 h1{
        font-size: 35px;
     
    }

    .body_card1 span{
        font-size: 20px;
     
    }


    .hirecoder{
        width: 100%;
        padding: 3em;
    }
  

    .code img{
        width: 400px;
        height: 350px;
    }

    .banner p{
        font-size: 18px;
        font-weight: 500;
    }

    .modal iframe{
        width: 390px;
    }

}
